# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# generated code
__generated__

# production
dist
.next

# models
*.pv
*.ppn
*.rhn

# turborepo
.turbo

# environment file
.env

# typescript
*.tsbuildinfo
next-env.d.ts
