services:
    postgres:
        image: postgres:latest
        env_file:
            - .env
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        volumes:
            - postgresql_data:/var/lib/postgresql
            - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
            interval: 1s
            timeout: 5s
            retries: 10
        networks:
            - private
        restart: unless-stopped
    redis:
        image: redis:latest
        volumes:
            - redis_data:/data
        ports:
            - "6379:6379"
        healthcheck:
            test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
            interval: 1s
            timeout: 5s
            retries: 10
        networks:
            - private
        restart: unless-stopped
    nexus:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                APP_NAME: nexus
        container_name: nexus
        networks:
            - private
            - outbound
        restart: unless-stopped
    memberberries-bot:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                APP_NAME: memberberries-bot
                ENV_PATH: apps/memberberries/bot
        container_name: memberberries-bot
        depends_on:
            postgres:
                condition: service_healthy
            redis:
                condition: service_healthy
            nexus:
                condition: service_started
        networks:
            - private
            - outbound
        restart: unless-stopped
    randy-bot:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                APP_NAME: randy-bot
                ENV_PATH: apps/randy/bot
        container_name: randy-bot
        networks:
            - private
            - outbound
        restart: unless-stopped

volumes:
    postgresql_data:
    redis_data:

networks:
    private:
        internal: true
    outbound:
